body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* General styling for product detail page */
.product-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10rem;
}

.product-image-container {
    width: 100%; /* Buat kontainer memenuhi lebar yang tersedia */
    max-width: 500px; /* Batas maksimum lebar kontainer */
    border: 2px solid #FF4500;
    border-radius: 10px;
    padding: 20px;
}

.product-image-container img {
    width: 200px; /* Buat gambar memenuhi kontainer */
    height: auto; /* Pertahankan proporsi gambar */
}

.product-info h2 {
    font-size: 24px;
    color: #FF4500;
    margin-bottom: 10px;
    text-align: start;
}

.product-info p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
}

.product-info .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rental-duration {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.rental-duration input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.booking-btn {
    background-color: #FF4500;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.product-image img {
    width: 30rem;
}

@media (max-width: 724px) {
    .product-detail {
        display: block;
    }

    .product-image img {
        width: 25rem;
    }
}